@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Aclonica&display=swap');


:root{
    --main-color-text: #FFC701;
}





*{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav{
    background-color: #fdfdfd;
    height: 15vh;
    box-shadow: 0px 3px 10px black; 
}
a{
    text-decoration: none;
    color: var(--main-color-text);
}
/*-------------------------------------------------------------------------------*/
.nav-config{
    float: left;
}
.nav-itens{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-inline-end: 40px;

    font-family: sans-serif;
    font-size: 40px;
    font-family: 'Abel', sans-serif;

    color: var(--main-color-text);
}
.title-nav{
    padding-top: 30px;
    padding-left: 40px;
    margin-right: 300px;


    color: var(--main-color-text);

    font-family: 'Aclonica', sans-serif;
    font-size: 50px;
}
/*-------------------------------------------------------------------------------*/
.hello{
    background-color: #4398ffea;
    height:48vh;
    
}
.text-header{
    text-align: center;
    color: #fff;
    font-family: 'Aclonica', sans-serif;
    font-size: 37px;
    padding-top: 7vh;
    padding-right: 5vw;
}
#imgdog{
    margin-right: 50px;
    padding-top: 10px;
    float: left;
}
/*-------------------------------------------------------------------------------*/
newsletter-main{
    box-shadow: 0px 5px 10px rgb(255, 0, 0); 
}
.newsletter{
    margin-top: 4vh;
    margin-right: 6vw;
    margin-left: 3vw;
    background-color: #d3d3d3;
    float: right;
    width: 480px;
    height: 220px;
    border-radius: 15px;
}
.title-newsletter{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color-text);
    font-family: 'Aclonica', sans-serif;
    font-size: 1.7em;
    height: 50px;
    background-color: #F4F4F4;
    border-radius: 15px 15px 0% 0%
}
.text-newsletter-main{
    padding-top: 6vh;
    color: var(--main-color-text);
    font-size: 2.7em;
    font-family: 'Aclonica', sans-serif;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-email{
    text-align: center;
    padding: 10px;
    border-style: none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 4px rgb(107, 107, 107);
    margin-bottom: 20px;
    margin-top: 20px;
}
.input-tel{
    text-align: center;
    padding: 10px;
    border-style: none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 4px rgb(107, 107, 107);
    margin-bottom: 20px;
}
.button-submit{
    background-color: #fff;
    border-radius: 2px 2px 2px 2px;
    width: 50px;
    height: 20px;
    box-shadow: 0px 0px 4px rgb(107, 107, 107);
    border-style: none;
}
#imgdog{
    width: 30vw;
    height: 50vh;
}

@media only screen and (max-width:1000px){
    #imgdog{
        display: none;
    }
    .text-header{
        font-size: 22px;
    }
    .nav-itens{
        display: none;
    }
}